<header [style.height.px]="52">
  <sproc-filter-button [filterApplied]="true" (filterToggle)="filterToggle()"></sproc-filter-button>
</header>
<div class="filter-register-table-wrapper" [attr.filters-open]="filtersAreOpened">
  <sproc-register-table-filter>
    <!--      <sproc-contract-table-filter [filtersForm]="filtersForm"> </sproc-contract-table-filter>-->
  </sproc-register-table-filter>

  <sproc-register-table
    [rowData]="data"
    [columns]="columns"
    [columnsData]="columnsData"
    [stickyLeftIds]="stickyLeftIds"
    [totalRecords]="dataCount"
    [totalNotFiltered]="$any(totalNotFiltered$ | async)"
    [isLoading]="loading$ | async"
    [isSelectloading]="selectedRecordsLoading$ | async"
    [page]="page$ | async"
    [limit]="limit$ | async"
  ></sproc-register-table>
</div>
