@gray: #73768b;
@grayLight: #bfc6d780;
@mainBlack: #000000;
@mainWhite: #ffffff;
@textMain: #000000;
@textFieldColor: #3f4759;
@textContrast: #20222b;
@textSecondary: #838383;
@chipBackground: #e0e3e7;
@dropdownText: #404040;
@textLabel: #404040;
@brandLightBlue: #cae6f8;
@brandBlue: #0079c2;
@brandBlueHovered: #006eb7;
@brandBlueActive: #0d91e0;
@tableThCellBlue: #e6f1f8;
@rejectBg: #e05c4d;
@brandDanger: #f14141;
@brandDangerHovered: #da181e;
@brandDangerActive: #ad1218;
@brandSuccess: #49ab4d;
@brandSuccessHovered: #118f3f;
@brandSuccessActive: #0c7733;
@brandActive: #0d91e0;
@brandDisabled: #f4f6fb;
@brandHovered: #f7f9fa;
@brandSelected: #ecf8ff;
@brandWarning: #f28749;
@stroke1: rgba(119, 123, 146, 0.3);
@blueLight: #e3f4ff;
@tableStroke: #d5d7dd;
@lightStroke: #ececec;
@tabTopBorder: #babfda;
@tabSideBorder: #d3dae9;
@tableHeader: #eef0f5;
@cardTableHeader: #cde3f1;
@deletedColor: #d44332;
@b3: #003ed6;
@inputStroke: #d7d8df;
@buttonActive: #d0edff;
@buttonSecondaryStroke: #d7d8df;
@blackShadow: #3b475326;
@greenAgreed: #118f3f1c;
@redRejected: #da181e1c;
@bgLightBray: #fafafa;
@grayIcon: #6e778c;
@headerHeight: 52px;
@headerPadding: 0px 0 0 16px;
@headerBorder: 1px solid #bfc6d7;
@footerHeight: 40px;
@pageMenuTransitionTime: 0.4s;
@filterWidth: 302px;
@tabsHeight: 40px;
@tableThVerticalBorder: #75b2d7;
@itemMargin: 8px 16px;
@baseTextColor: #007bff;
@activeBackground: var(--brand-selected);
@hoverBackground: var(--brand-hovered);

:root {
  --gray: @gray;
  --gray-light: @grayLight;
  --main-black: @mainBlack;
  --main-white: @mainWhite;
  --text-main: @textMain;
  --text-contrast: @textContrast;
  --text-secondary: @textSecondary;
  --dropdown-text: @dropdownText;
  --text-label: @textLabel;
  --header-padding: @headerPadding;
  --header-border: @headerBorder;
  --brand-light-blue: @brandLightBlue;
  --brand-blue: @brandBlue;
  --brand-blue-hovered: @brandBlueHovered;
  --brand-blue-active: @brandBlueActive;
  --table-cell-blue: @tableThCellBlue;
  --reject-bg: @rejectBg;
  --brand-danger: @brandDanger;
  --brand-danger-hovered: @brandDangerHovered;
  --brand-danger-active: @brandDangerActive;
  --brand-success: @brandSuccess;
  --brand-success-hovered: @brandSuccessHovered;
  --brand-success-active: @brandSuccessActive;
  --brand-active: @brandActive;
  --brand-disabled: @brandDisabled;
  --brand-hovered: @brandHovered;
  --brand-selected: @brandSelected;
  --brand-warning: @brandWarning;
  --deleted-color: @deletedColor;
  --stroke1: @stroke1;
  --textfield-color: @textFieldColor;
  --table-stroke: @tableStroke;
  --light-stroke: @lightStroke;
  --tab-side-border: @tabSideBorder;
  --tabs-height: @tabsHeight;
  --table-header: @tableHeader;
  --card-table-header: @cardTableHeader;
  --b-3: @b3;
  --input-stroke: @inputStroke;
  --button-active: @buttonActive;
  --button-secondary-stroke: @buttonSecondaryStroke;
  --black-shadow: @blackShadow;
  --green-agreed: @greenAgreed;
  --red-rejected: @redRejected;
  --blue-light: @blueLight;
  --bg-light-gray: @bgLightBray;
  --tab-top-border: @tabTopBorder;
  --chip-background: @chipBackground;
  --gray-icon: @grayIcon;
  --table-th-vertical-border: @tableThVerticalBorder;
  --item-margin: @itemMargin;
  --base-text-color: @baseTextColor;
  --active-background: @activeBackground;
  --hover-background: @hoverBackground;
  //TODO вынести в input
  --header-height: @headerHeight;
  //TODO вынести в input
  --footer-height: @footerHeight;
  //TODO вынести в input
  --page-menu-transition-time: @pageMenuTransitionTime;
  //TODO вынести в input
  --filter-width: @filterWidth;
}
