:root {
  // Colors
  --brand-blue: #0079c2;
  --brand-blue-hovered: #006eb7;
  --brand-light-blue: #cae6f8;
  --brand-danger: #f14141;
  --brand-hovered: #f7f9fa;
  --brand-selected: #ecf8ff;
  --brand-success: #49ab4d;
  --main-white: #ffffff;
  --text-main: #000000;
  --text-contrast: #20222b;
  --table-stroke: #d5d7dd;
  --gray-icon: #6e778c;
  --deleted-color: #d44332;
  //TODO вынести в input
  --header-height: 52px;
  //TODO вынести в input
  --footer-height: 40px;
  //TODO вынести в input
  --page-menu-transition-time: 0.4s;
  //TODO вынести в input
  --filter-width: 302px;
}
